<h1>Project Name   <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> <span></span>   <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></h1>
<div class="container is-fluid">
 <div class="left">
  Phase Name <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i><a class="button is-primary is-outlined"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></a>
  <div class="block">
  <a class="button is-primary"routerLink="/add-accesseries">+Accessories</a>
  <a class="button is-warning" routerLink="/add-config">+Configuration</a></div>
</div>
</div>


<div class="container is-fluid">
  <div class="notification">
    Milestone Name <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i><a class="button is-primary is-outlined"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></a>
  </div>
</div>
<router-outlet></router-outlet>