.fa{
   padding: 10px;}
 .nav{
     background-color: white;
     height:40px;
 } 
   
.phase{
    margin-left: 5em;
}
h1{
    margin-top: 1%;
}
container{
    background-color: white;
}
notification{
    background-color: white;
}
.center {
    text-align: center;
    border: 3px solid green;
}
block{
    text-align: right;
    
}

.columns{
    display: inline-flex;
    padding-top: 12px;
}
.nav-left{
    overflow: hidden;
}
.box{
    padding: 0.75em;
}