.navbar {
    background:white;
    margin-left:9px;
    margin-right:90px;
}
h3{
    color: black
}
.nav-item {
    color: white;
}
.nav-right{
    margin-left:10px;
}
.box {
    margin: 10px;
    height: 680px;
}

h6 {
    color: red;
}

.control {
    width: 16em;
}

.row {
    margin: 2em;
}

.textrow {
    margin-top: 3%;
    text-align: center;
    text-shadow: 40mm;
}

.button {
    align-content: center;
}

