.navbar{
    height:24px;
}
.nav-item {
    color: white;
    margin-right: 30px;
}

.box {
    margin: 15px;
    height: 620px;
  
}

h6 {
    color: red;
}

.control {
    width: 16em;
    resize: none;
}



.textrow {
    margin-top: 3%;
    text-align: left;
    text-shadow: 40mm;
        overflow: scroll;
        resize: none;
}

.button {
    align-content: center;
}
.block{
    margin-left:10%;
    height:70px;
}
.box {
    margin: 15px;
    height: 650px;
  
}


.control {
    width: 16em;
    resize: none;
}

.row {
    margin: 2em;
}

.block{
    margin-left:10%;
}
