<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item" routerLink="/addProject">
          Device Configuration Manager
        </a>
    </div>
    <div class="nav-right nav-menu">
        <div class="nav-item">


            <a class="button">
                <i class="fa fa-bell"></i>

                <span>Notification</span>
            </a>


            <a class="button">
                <span class="icon">
      <i class="fa fa-user"></i>
    </span>
                <span>BuildPM</span>
            </a>

        </div>

    </div>

</nav>

<router-outlet></router-outlet>