.nav{
  background:#663399;
}
.nav-item{
  color: white;
}
.box{
  margin: 10px;
  height:680px;

}
h6{
  color: red;
}
.control{
width:12em;
}
.row{
  margin: 2em;
}
.textrow{
  margin-top:3%;
  text-align:center;
  text-shadow: 40mm;
}
.button{
  align-content: center; 
}
/*.card-content{
  margin-left: 38%;
  margin-top: 22%;
  background-color: grey;
  width:18em;
}*/