.nav {
    background: #663399;
}

.nav-item {
    color: white;
}

.box {
    margin: 15px;
    height: 680px;
    width: 74em
}

h6 {
    color: red;
}

.control {
    width: 16em;
}

.row {
    margin: 2em;
}

.textrow {
    margin-top: 3%;
    text-align: center;
    text-shadow: 40mm;
        overflow: scroll;
}

.button {
    align-content: center;
}

