


.box {
    margin: 15px;
    height: 650px;
  
}


.control {
    width: 16em;
    /*overflow: hidden;*/
    resize: none;
}

.row {
    margin: 2em;
}

.textrow {
    margin-top: 3%;
    text-align: left;
    text-shadow: 40mm;
        overflow: scroll;
        resize: none;
}

.button {
    align-content: center;
}
.block{
    margin-left:10%;
}
