<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item">
          Device Configuration Manager
        </a>
    </div>
    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>
 <div class="nav-right nav-menu">
<div class="nav-item">
            <div class="field is-grouped">
                <p class="control">
                    <a class="button">
                        <span class="icon">
      <i class="fa fa-bell"></i>
    </span>
<span>Notification</span>
                    </a>
                </p>
<p class="control">
<a class="button">
<span class="icon">
      <i class="fa fa-user"></i>
    </span>
                        <span>BuildPM</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

</nav>